<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">

    </a>
</nav>

<nav class="navbar navbar-light bg-light">
    <img class="imglogo" src="assets/orbit.png" width="30" height="30" alt="">
    <h1>Astro Web</h1>
    <button type="button" class="btn btn-secondary" (click)="openModal(template)">Creér un compte</button>
</nav>

<br>
<br>
<br>
<br>

<div class="container">
    <form (ngSubmit)="login(LoginUser.form.value,LoginUser)" #LoginUser="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input #emailM="ngModel" type="email" required class="validate" class="form-control" id="email"
                [(ngModel)]="emaillogin" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input #PasswordM="ngModel" type="password" required class="validate" class="form-control" id="password"
                [(ngModel)]="passwordlogin" name="password">
        </div>
        <button type="submit" [disabled]="!LoginUser.form.valid" id="over" class="btn btn-secondary">Se
            connecter</button>
    </form>
</div>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">inscription</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br>




    <div class="container-fluid">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="text" formControlName="email" class="form-control">
                </div>
                <div *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">
                        <div class="alert alert-danger" role="alert">
                            This is a danger alert—check it out!
                        </div>
                    </div>
                    <div *ngIf="f.email.errors.email">
                        <div class="alert alert-danger" role="alert">
                            This is a danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary">s'inscrire</button>
        </form>


    </div>
    <br>
</ng-template>