.imglogo{
    height: 80px;
    width: 80px;
}

.h1{
    text-align: center;

}
.btn-primary, .btn-primary:disabled {
    color: #fff;
    background-color: #6c757c;
    border-color: black;
}

#over{
    color: #fff;
    background-color: #6c757c;
    border-color: black;
}



.btn-primary:active {
    color: #fff;
    background-color: #6c757c;
    border-color: black;
}