<nav class="navbar navbar-expand-lg navbar-light bg-light marg">
    <a class="navbar-brand">Blog Astro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div *ngIf="home; else elseBlock">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <ng-template #elseBlock>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
            </ng-template>
            <div *ngIf="post; else elseBlock1">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/search']">Search</a>
                </li>
            </div>
            <ng-template #elseBlock1>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/search']">Search <span class="sr-only">(current)</span></a>
                </li>
            </ng-template>
        </ul>
        <button type="button" class="btn btn-danger" (click)="deconnect()">Déconnection</button>
    </div>
</nav>