<div *ngFor="let PostUser of PostUsers">
    <div class="container fluid cont">
        <div class="row">
            <div class="col-md-4 ecriture">
                de : <span class="name">{{name}}</span>
            </div>
            <div class="col-md-4">
                <span class="ecriture"> publication :</span> {{PostUser.sujet}}
            </div>
            <div class="col-md-4">
                <span class="ecriture"> à :</span> {{PostUser.updatedAt | date: 'd/MM/y, HH:mm'}}
            </div>
        </div>
        <br>
        <img class="img-fluid size" src="{{PostUser.pic}}" alt="">

        <br>
        {{PostUser.post}}
    </div>
    <div class="container fluid">
        <h4>Commentaires :</h4>
        <div *ngFor="let commentaire of commentaires">
            <div class="container fluid contcom">
                <div class="row">
                    <div class="col-md-6 ecriture">
                        de : <span class="name"></span>{{commentaire.Users}}
                    </div>
                    <div class="col-md-6">
                        à : {{commentaire.updatedAt | date: 'd/MM/y, HH:mm'}}
                    </div>
                </div>
                <br>
                {{commentaire.comm}}
            </div>
        </div>
    </div>
</div>
<br>
<div class="container fluid">
    <form (ngSubmit)="PostCommentaire(PostCom.form.value,PostCom)" #PostCom="ngForm">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Commentaires :</label>
            <textarea class="form-control" #comms="ngModel" type="text" [(ngModel)]="commentaire" id="commentaire"
                name="commentaire" rows="3"></textarea>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" [disabled]="!PostCom.form.valid" class="btn btn-secondary button">envoyer</button>
            </div>
        </div>
    </form>
</div>