<app-menu></app-menu>
{{ nom }}

<div *ngFor="let PostUser of PostUsers">
    <div class="container fluid">
        {{PostUser.updatedAt}}
        {{PostUser.nomBlogeur}}
        {{PostUser.nomBlogeur}}
        {{PostUser.sujet}}
    </div>
</div>

<br>
<!-- <div class="container fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">post</th>
            </tr>
        </thead>
        <tbody>
            <div *ngFor="let PostUser of PostUsers">
                <tr>
                    <th scope="row">{{PostUser.updatedAt}}</th>
                    <td>{{PostUser.nomBlogeur}}</td>
                    <td>{{PostUser.post}}</td>
                </tr>
            </div>
        </tbody>
    </table>
</div> -->


<div class="container fluid">
    <form (ngSubmit)="PostCommentaire(PostCom.form.value,PostCom)" #PostCom="ngForm">
        <div class="form-group">
            <label>Sujet</label>
            <input class="form-control" #sujets="ngModel" type="text" [(ngModel)]="sujet" id="sujet" name="sujet">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Message :</label>
            <textarea class="form-control" #posts="ngModel" type="text" [(ngModel)]="post" id="post" name="post"
                rows="3"></textarea>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" [disabled]="!PostCom.form.valid" class="btn btn-secondary">Secondary</button>
            </div>
        </div>
    </form>
</div>