<app-menu></app-menu>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Refresh Post</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="RefreshPost(UpdatePost.form.value,UpdatePost)" #UpdatePost="ngForm">
            <div class="form-group">
                <label>Sujet</label>
                <input class="form-control" #RefSujets="ngModel" type="text" [(ngModel)]="sujetRefresh" id="Refsujet"
                    name="Refsujet">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Post Message :</label>
                <textarea class="form-control" #Refposts="ngModel" type="text" [(ngModel)]="postRefresh" id="Refpost"
                    name="Refpost" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <button type="submit" [disabled]="!UpdatePost.form.valid"
                        class="btn btn-secondary button">envoyer</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>


<div *ngFor="let PostUser of PostUsers">
    <div class="container fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="container smess pointer" (click)="commentaires(PostUser.id,PostUser.idUser)">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="ecriture">à : </span> {{PostUser.updatedAt | date: 'd/MM/y, HH:mm'}}
                        </div>
                        <div class="col-md-5">
                            <span class="ecriture">de : </span> <span class="name">{{PostUser.nomBlogeur}}</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ecriture">de : </span> {{PostUser.sujet}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="PostUser.idUser==id">
                <div class="col-md-1">
                    <img class="imglogo pointer logo"
                        (click)="openModalWithClass(template,PostUser.sujet,PostUser.post,PostUser.id)"
                        src="assets/refresh.svg" width="30" height="30" alt="">
                </div>
            </div>
            <div *ngIf="PostUser.idUser==id">
                <div class="col-md-1">
                    <img class="imglogo pointer logo" (click)="delete(PostUser.id,PostUser.sujet)"
                        src="assets/delete.svg" width="30" height="30" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- <div class="container fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">post</th>
            </tr>
        </thead>
        <tbody>
            <div *ngFor="let PostUser of PostUsers">
                <tr>
                    <th scope="row">{{PostUser.updatedAt}}</th>
                    <td>{{PostUser.nomBlogeur}}</td>
                    <td>{{PostUser.post}}</td>
                </tr>
            </div>
        </tbody>
    </table>
</div> -->


<div class="container fluid">
    <form (ngSubmit)="PostCommentaire(PostCom.form.value,PostCom)" #PostCom="ngForm">
        <div class="form-group">
            <label>Sujet</label>
            <input class="form-control" #sujets="ngModel" type="text" [(ngModel)]="sujet" id="sujet" name="sujet">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Message :</label>
            <textarea class="form-control" #posts="ngModel" type="text" [(ngModel)]="post" id="post" name="post"
                rows="3"></textarea>
        </div>
        <label>chosir une photo : </label>
        <input type="file" class="form-control-file" (change)="onFileChanged($event)">
        <br>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" [disabled]="!PostCom.form.valid" class="btn btn-secondary button">envoyer</button>
            </div>
        </div>
    </form>


</div>