.smess {
    border: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 10px;
} 

div.smess:hover {
    background-color: #ccc;
    border: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 10px;
}

.pointer {cursor: pointer;}

.button {
    margin-bottom: 10px;
}

.logo{
    margin-top: 13px;
}