/* You can add global styles to this file, and also import other style files */

.ecriture {
    font-weight: bold;
}

span.name {
    color :#3399ff;
}

/* body {
    background: url("assets/wallhaven-3kg8qd.jpg");
} */
